---
layout: default
---
<p><a href="{{site.baseurl}}/">Home</a></p>

{{ content }}

<img src="{{site.baseurl}}/panels/screenshots/{{page.screenshot}}" alt="{{page.title}} screenshot" width="350">

<p>Help us to improve <a href="https://gitlab.com/jsmanrique/my-grimoirelab-panels/panels/{{page.title}}.md">this panel information</a></p>