<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
  </head>

  <body>

    <h1>Hello World!</h1>
    <p>Be water my friend</p>

  </body>

</html>