---
layout: default
---

<h1>Hello World!</h1>
<p>Be water my friend</p>

<ul>
{% for panel in site.panels %}
<li><a href="{{ site.baseurl }}{{ panel.url }}">{{ panel.title }}</a></li>
{% endfor %}
</ul>